[submodule "third_party/threadx"]
	path = third_party/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third_party/netxduo"]
	path = third_party/netxduo
	url = https://github.com/eclipse-threadx/netxduo.git
[submodule "third_party/bsdsocktest"]
	path = third_party/bsdsocktest
	url = https://github.com/tbdye/bsdsocktest.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
