[submodule "third_party/threadx"]
	path = third_party/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third_party/netxduo"]
	path = third_party/netxduo
	url = https://github.com/eclipse-threadx/netxduo.git
