[submodule "third_party/threadx"]
	path = third_party/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "third_party/netxduo"]
	path = third_party/netxduo
	url = https://github.com/tinic/netxduo.git
	branch = amiga-integration
[submodule "third_party/bsdsocktest"]
	path = third_party/bsdsocktest
	url = https://github.com/tbdye/bsdsocktest.git
[submodule "third_party/dropbear"]
	path = third_party/dropbear
	url = https://github.com/mkj/dropbear.git
